---
import Layout from '../layouts/Layout.astro';
import Farms from '../components/Farms.astro';
import farms from '../data/farms.json';
---

<Layout>
  <div class="p-6">
    <Farms farms={farms} />
  </div>
</Layout>
